body {
    font-family: Arial;
    background-color: #f2f2f2;
    margin: 0;
    text-align: center;
}

h1 {
    background-color: #2c3e50;
    color: white;
    padding: 15px;
}

a {
    text-decoration: none;
    color: #2c3e50;
    margin: 10px;
    font-weight: bold;
}

a:hover {
    color: blue;
}

p, ul {
    font-size: 18px;
}
